.button {
  position: relative;
  background-color: var(--button-background-color);
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button.cta {
  padding: var(--cta-button-padding);
}

.button svg {
  height: var(--button-font-size);
}

.button:disabled {
  background-color: var(--button-disabled-background-color);
  cursor: inherit;
}

.button.secondary {
  background-color: transparent;
  border: var(--button-secondary-border);
}
