:root {
  --aquafresh-50: #eefafb;
  --aquafresh-100: #e2f6f8;
  --aquafresh-200: #bdeaf0;
  --aquafresh-300: #98dee7;
  --aquafresh-400: #6acfdc;
  --aquafresh-500: #32bccf;
  --aquafresh-600: #2ba9ba;
  --aquafresh-700: #2797a5;
  --aquafresh-800: #207c88;
  --aqauafresh-900: #16575f;
  --aquafresh-950: #104046;
  --royal-50: #faf8fc;
  --royal-100: #f1edf7;
  --royal-200: #e4dbf0;
  --royal-300: #d5c9e9;
  --royal-400: #bea9da;
  --royal-500: #a88dce;
  --royal-600: #9a7bc6;
  --royal-700: #8a66bd;
  --royal-800: #52338c;
  --royal-900: #171336;
  --royal-950: #0a0524;
  --shongololo-50: #fff5fa;
  --shongololo-100: #ffe5f2;
  --shongololo-200: #ffcce5;
  --shongololo-300: #ffa8d2;
  --shongololo-400: #ff75b8;
  --shongololo-500: #ff007a;
  --shongololo-600: #e6006f;
  --shongololo-700: #cc0063;
  --shongololo-800: #a80051;
  --shongololo-900: #80003e;
  --shongololo-950: #520027;
  --rainbow-50: #f7f7f8;
  --rainbow-100: #f2f2f3;
  --rainbow-200: #dfe0e2;
  --rainbow-300: #cfd1d4;
  --rainbow-400: #b9bdc0;
  --rainbow-500: #a1a5ab;
  --rainbow-600: #91969c;
  --rainbow-700: #7e858b;
  --rainbow-800: #686e74;
  --rainbow-900: #4d5256;
  --rainbow-950: #35383b;
  --white: #fff;
  --black: #000;
  --success: #bff26c;
}