.dark {
  --navigation-background: var(--royal-950);
  --page-background: var(--royal-900);
  --body-font-color: var(--white);
  --body-link-color: var(--aquafresh-500);
  --footer-font-color: var(--royal-700);
  --button-background-color: var(--aquafresh-500);
  --button-foreground-color: var(--body-font-color);
  --button-secondary-border: 2px solid var(--button-background-color);
  --button-secondary-font-color: var(--button-background-color);
  --stripes-color: var(--shongololo-500);
  --navigation-item-active: var(--white);
  --authentication-input-font-color: var(--black);
  --input-border-color: var(--royal-500);
  --input-background-color: transparent;
  --input-font-color: var(--white);
  --graph-font-color: var(--body-font-color);
  --table-header-font-color: var(--royal-500);
  --table-row-border: 1px solid var(--royal-800);
  --table-child-row-border: 1px dashed var(--royal-800);
  --table-child-icon-color: var(--royal-800);
  --status-indicator-active: #69e575;
  --status-indicator-error: #ed133a;
  --status-indicator-to-install: #ecb22e;
  --toast-success-font-color: var(--black);
  --toast-success-background-color: var(--success);
  --toast-error-background-color: var(--shongololo-500);
  --toast-error-font-color: var(--white);
  --tabs-font-color: var(--aquafresh-500);
  --tabs-active-font-color: var(--royal-500);
  --tabs-border: 1px solid var(--royal-800);
  --tabs-active-border-color: var(--royal-500);
  --banner-background-color: var(--toast-error-background-color);
  --banner-font-color: var(--toast-error-font-color);
  --error-message-background-color: var(--royal-800);

  /* dashboard onboarding */
  --onboarding-step-active-color: var(--white);
  --onboarding-step-inactive-color: var(--royal-600);
  --onboarding-step-progress-line-color: var(--royal-700);
  --onboarding-step-progress-dot-active-color: var(--shongololo-500);
  --onboarding-step-progress-dot-inactive-color: var(--royal-500);
}