.colomnar-layout {
  display: flex;
  gap: var(--benefits-section-gap, 80px);
  background-color: var(--section-background-color);
  padding: var(--full-page-section-padding, 100px 140px 100px 140px);
}

.colomnar-layout > * {
  flex: 1;
}

.colomnar-layout h2 {
  margin-bottom: var(--benefits-section-heading-margin, 48px);
}

.colomnar-layout p {
  margin-bottom: var(--benefits-section-paragraph-margin-bottom, 48px);
}

ul {
  font: var(--ul-font);
  color: var(--royal-400);
}

li {
  list-style: inside;
  margin-bottom: 2rem;
}

.colomnar-layout section {
  flex-direction: column;
}

.notifications {
  --benefits-section-gap: 160px;
}

.notifications section {
  flex: 1 1 0;
  min-width: 0;
}

.notifications section > img {
  width: 100%;
  height: auto;
}

.notifications .logos {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.notifications {
  background: #1a1745;
}
