.navigation {
  --error-message-background-color: #242c5b;
}

.navigation__left {
  flex-grow: 1;
}

.navigation__right {
  display: flex;
  align-items: center;
  gap: 37px;
}

@media (max-width: 980px) {
  .navigation {
    --navigation-horizontal-padding: 16px;
    gap: 16px;
  }
}

.mobile-name {
  align-self: center;
}

.heart {
  position: absolute;
  top: -25px;
  left: -25px;
  z-index: -1;
}
