.full-width-layout {
  display: flex;
  align-items: var(--full-page-section-content-aligment, center);
  text-align: center;
  background-color: var(--section-background-color);
  padding: var(--full-page-section-padding);
  flex-direction: column;
}

.full-width-layout__content {
  display: flex;
  margin-left: calc(var(--hero-gutter) - var(--full-page-content-gutter));
  flex-direction: column;
  max-width: var(--section-content-max-width, 1130px);
}

.old-way {
  background: -webkit-linear-gradient(#090622, #171336);
  padding-bottom: 0;
}

.text-gradient {
  background: -webkit-linear-gradient(0deg, #feba01, #f22089);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.new-way h2 {
  margin-bottom: var(--new-way-heading-margin, 48px);
}

.new-way {
  background-color: #171336;
}

.new-way img {
  margin-bottom: var(--old-way-image-margin, 64px);
  width: 100%;
}

.old-way h2 {
  margin-bottom: var(--old-way-heading-margin, 24px);
}

.old-way img {
  margin-top: var(--old-way-image-margin, 30px);
  width: 100%;
}

.old-way img.mobile {
  max-width: 300px;
}

.new-way img.mobile {
  max-width: 300px;
}
