.full_page_section {
  display: flex;
  align-items: var(--full-page-section-content-aligment, center);
  background-color: var(--section-background-color);
  padding: var(--full-page-section-padding);
  flex-direction: column;
}

.full_page_section__content {
  display: flex;
  margin-left: calc(var(--hero-gutter) - var(--full-page-content-gutter));
  flex-direction: column;
  max-width: var(--section-content-max-width, 1130px);
}

.old-way .full_page_section__content p {
  max-width: var(--old-way-copy-max-width, 60%);
}

.new-way h2 {
  margin-bottom: var(--new-way-heading-margin, 48px);
}

.new-way img {
  margin-bottom: var(--old-way-image-margin, 64px);
  width: 100%;
}

.old-way h2 {
  margin-bottom: var(--old-way-heading-margin, 24px);
}

.old-way img {
  margin-top: var(--old-way-image-margin, 64px);
  width: 100%;
}

.old-way img.mobile {
  max-width: 300px;
  max-height: 800px;
}

.new-way img.mobile {
  max-width: 300px;
  max-height: 800px;
}
