@media (width <= 980px) {
  :root {
    --hero-content-align: center;
    --integration-mini-icon-size: 14px;
    --arrow-location: 17px;
  }

  .hero .content h1,
  .ht-tagline {
    text-align: center !important;
    max-width: 100% !important;
  }
}

.hero__image {
  width: 783px;
  max-width: 100%;
  height: auto;
}

.hero__mini-icon {
  height: var(--integration-mini-icon-size, 32px);
  width: var(--integration-mini-icon-size, 32px);
}

.hero {
  display: flex;

  --section-background-color: var(--royal-900);

  padding: var(
    --hero-padding,
    100px var(--hero-gutter) 100px var(--hero-gutter)
  );
  align-items: var(--hero-content-align, center);
  justify-content: var(--hero-content-align);
  flex-direction: var(--hero-flex-direction, row);
  gap: var(--hero-content-gap, 64px);
}

.hero .content h1 {
  margin-bottom: var(--hero-content-gap, 20px);
  text-align: left;
  max-width: 500px;
  font-size: 52px;
}

.ht-tagline {
  font-size: 22px;
  line-height: 1.4;
  font-weight: 300;
  margin-bottom: 30px;
}

.hero p {
  align-items: var(--hero-content-align, left);
  font: var(--hero-p-font);
}

.integrations {
  display: flex;
}

.integrations .arrow-container {
  top: var(--arrow-location, 40px);
}
