.post-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.post {
  max-width: 860px;
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  margin-bottom: 20px;
}

.post h2 {
  font-size: var(--h3-font-size);
}

.post h3 {
  font-size: var(--h2-font-size);
}

.post p {
  margin-bottom: 10px;
}
