:root {
  /* variable overrides */
  --navigation-bottom-padding: 18px;
  --body-line-height: 1.8rem;
  --body-font-size: 1.5rem;
  --button-secondary-background: #0a0524;
  --cta-button-font-size: 1.25rem;
  --cta-button-padding: 16px 24px;
  /* new variables  */
  --hero-gutter: 220px;
  --full-page-content-gutter: 140px;
  --full-page-content-vertical-spacing: 100px;
  --full-page-section-padding: var(--full-page-content-vertical-spacing)
    var(--full-page-content-gutter) var(--full-page-content-vertical-spacing)
    var(--full-page-content-gutter);

  --h2-font: var(--bold-font-weight) 14px var(--font-family);
  --p-font: var(--light-font-weight) 20px / var(--body-line-height)
    var(--font-family);
  --ul-font: var(--light-font-weight) 20px var(--font-family);
  --hero-p-font: var(--regular-font-weight) var(--body-font-size)
    var(--font-family);
}

body {
  background-color: var(--royal-900);
}

.old-way,
.benefits {
  --section-background-color: #291d50;
}

.getting-started {
  background-color: var(--royal-900);
}

.new-way {
  --section-background-color: var(--royal-900);
}

.mobile {
  display: none;
}

a {
  text-decoration: none;
}

h2 {
  font: var(--h2-font);
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

p {
  font: var(--p-font);
}

.footer {
  display: flex;
  justify-content: center;
  background-color: var(--page-background);
  padding: var(--footer-padding) 0;
  font-size: 1rem;
}

.footer span {
  color: var(--footer-font-color);
}

@media (max-width: 980px) {
  :root {
    --hero-gutter: 32px;
    --full-page-content-gutter: 32px;
    --full-page-content-vertical-spacing: 40px;
    --body-font-size: 1.25rem;
    --old-way-copy-max-width: 100%;
    --navigation-height: 80px;
    --full-page-section-content-aligment: last baseline;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .full-width-layout__content {
    flex-direction: column;
  }

  section {
    flex-direction: column;
  }

  .colomnar-layout {
    display: flex;
    flex-direction: column;
  }
}



// <weight>: Use a value from 200 to 800
// <uniquifier>: Use a unique and descriptive class name

.bricolage-grotesque-<uniquifier> {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.hero {
  flex-direction: row !important;
}
.content {
text-align:left;
max-width:500px;
}

.hero .content h1 {
  font-size:52px;
  margin-bottom:20px !important;
}

.ht-tagline {
  font-size: 22px;
  line-height:1.4;
  font-weight:300;
  margin-bottom:30px; 
}
.button {
  background-color: #077ACB !important;
}

.button.secondary {
  background-color: var(--royal-900) !important;;
}

h2 {
  font-size: 32px;
  line-height: auto;
  text-transform: none;
  margin-bottom:10px !important;
}

p {
  font-size: 22px;
  line-height:31.6px;
  color: #D2C7DD;
}

.full-width-layout__content {
  margin:0 !important;
  align-items:center;
  text-align: center;
}

.old-way .full-width-layout__content p {
  max-width: var(--old-way-copy-max-width, 80%) !important;
}

.old-way img {
  margin-top: var(--old-way-image-margin, 30px) !important;
}

.text-gradient {
  background: -webkit-linear-gradient(0deg, #FEBA01, #F22089);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}