body {
  /* top level variables */
  --page-gutter: 135px;

  /* variable overrides */
  --font-family: "Bricolage Grotesque", sans-serif;
  --navigation-bottom-padding: 18px;
  --body-line-height: 1.8rem;
  --body-font-size: 1.5rem;
  --cta-button-font-size: 1.25rem;
  --cta-button-padding: 16px 24px;
  --button-background-color: #077acb;
  --button-secondary-background-color: var(--royal-900);
  --navigation-horizontal-padding: var(--page-gutter);

  /* new variables  */
  --hero-gutter: var(--page-gutter);
  --full-page-content-gutter: var(--page-gutter);
  --full-page-content-vertical-spacing: 100px;
  --full-page-section-padding: var(--full-page-content-vertical-spacing)
    var(--full-page-content-gutter) var(--full-page-content-vertical-spacing)
    var(--full-page-content-gutter);
  --h2-font: var(--bold-font-weight) 14px var(--font-family);
  --p-font: 22px/31.6px var(--font-family);
  --ul-font: var(--light-font-weight) 20px var(--font-family);
  --hero-p-font: var(--regular-font-weight) var(--body-font-size)
    var(--font-family);
}

body {
  background-color: var(--royal-900);
}

.getting-started {
  background-color: var(--royal-900);
}

.new-way {
  --section-background-color: var(--royal-900);
}

.mobile {
  display: none;
}

a {
  text-decoration: none;
}

h2 {
  font: var(--h2-font);
  text-transform: uppercase;
  letter-spacing: 0.4px;
  font-size: 32px;
  line-height: auto;
  text-transform: none;
  margin-bottom: 10px !important;
}

p {
  font: var(--p-font);
  color: #d2c7dd;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: var(--page-background);
  padding: var(--footer-padding) 0;
  font-size: 1rem;
}

.footer span {
  color: var(--footer-font-color);
}

@media (width <= 980px) {
  :root {
    --hero-gutter: 32px;
    --full-page-content-gutter: 32px;
    --full-page-content-vertical-spacing: 40px;
    --body-font-size: 1.25rem;
    --old-way-copy-max-width: 100%;
    --navigation-height: 80px;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .full-width-layout__content {
    flex-direction: column;
  }

  section {
    flex-direction: column;
  }

  .colomnar-layout {
    display: flex;
    flex-direction: column;
  }
}

ol {
  list-style-type: decimal !important;
  list-style-position: inside !important;
}

ol li {
  list-style: inherit;
  margin-bottom: 0;
  line-height: 28px;
  font-size: 20px;
}
