<!doctype html>
<html lang="en">
  <head>
    <link rel="canonical" href="https://managerbot.dev/" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:wght@300..800&display=swap"
      as="style"
      onload="
        this.onload = null;
        this.rel = 'stylesheet';
      "
    />
    <link rel="icon" href="/assets/images/mb-mark.svg" type="image/svg+xml" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <meta name="description" content="{{page.description}}" />
    <link rel="stylesheet" href="{% fingerprint /assets/main.css %}" />
    <link rel="stylesheet" href="{% fingerprint /assets/pasta/reset.css %}" />
    <link rel="stylesheet" href="{% fingerprint /assets/pasta/colours.css %}" />
    <link
      rel="stylesheet"
      href="{% fingerprint /assets/pasta/base-variables.css %}"
    />
    <link
      rel="stylesheet"
      href="{% fingerprint /assets/pasta/typography.css %}"
    />
    <link
      rel="stylesheet"
      href="{% fingerprint /assets/pasta/navigation.css %}"
    />
    <link rel="stylesheet" href="{% fingerprint /assets/pasta/button.css %}" />
    <link rel="stylesheet" href="{% fingerprint /assets/pasta/form.css %}" />
    <link rel="stylesheet" href="{% fingerprint /assets/pasta/stripes.css %}" />
    <link
      rel="stylesheet"
      href="{% fingerprint /assets/components/arrows.css %}"
    />
    <link
      rel="stylesheet"
      href="{% fingerprint /assets/components/marketing-hero.css %}"
    />
    <link
      rel="stylesheet"
      href="{% fingerprint /assets/components/full-width-layout.css %}"
    />
    <link
      rel="stylesheet"
      href="{% fingerprint /assets/components/colomnar-layout.css %}"
    />
    <link
      rel="stylesheet"
      href="{% fingerprint /assets/components/default-layout.css %}"
    />
    <link
      rel="stylesheet"
      href="{% fingerprint /assets/components/posts.css %}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="dark">
    <div class="navigation">
      <div class="navigation__left">
        <img class="logo" alt="logo" src="/assets/images/mb-mark.svg" />
        <b class="logo-text">managerbot</b>
      </div>
      <div class="navigation__right">
        <a href="https://app.managerbot.dev">Log In</a>
        <a
          href="https://app.managerbot.dev/authentication/register"
          class="button secondary"
        >
          Create Account
          <img src="/assets/images/heart.svg" alt="" class="heart" />
        </a>
      </div>
    </div>
    {{ content }}
  </body>
  {% include posthog.html %}
</html>
