@import url("pasta/reset.css");
@import url("pasta/colours.css");
@import url("pasta/base-variables.css");
@import url("pasta/typography.css");
@import url("pasta/navigation.css");
@import url("pasta/button.css");
@import url("pasta/field-errors.css");
@import url("pasta/stripes.css");

/* variable overrides */
:root {
  --navigation-bottom-padding: 18px;
  --field-errors-message-padding: 16px 32px;
  --section-spacing: 24px;
  --section-content-max-width: 1130px;
  --section-min-height: 800px;
  --section-heading-padding: 110px 0 0 0;
  --section-padding-x: 24px;
  --section-padding: 0 var(--section-padding-x);
  --body-line-height: 1.8rem;
}

.post-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.post {
  max-width: 860px;
}

.post h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
}

.post p {
  margin-bottom: 10px;
}

.navigation {
  --error-message-background-color: #242c5b;
}

body {
  background-color: var(--royal-900);
}

.hero {
  --section-spacing: 40px;
  --section-background-color: var(--royal-900);
}

.old-way {
  --section-background-color: #291d50;
}

.new-way {
  --section-background-color: var(--royal-900);
}

.manager-benefit__section {
  --section-background-color: #291d50;
}

.developer-benefit__section {
  --section-background-color: #483488;
  flex-grow: 1;
}

a {
  text-decoration: none;
}

.navigation__left {
  flex-grow: 1;
}

.navigation__right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.multi-section {
  display: flex;
}

section a {
  width: fit-content;
}

section h5 {
  font-weight: var(--regular-font-weight);
}

p {
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
}

section {
  background-color: var(--section-background-color);
  display: flex;
  gap: var(--section-spacing);
  width: 100%;
}

section .content {
  display: flex;
  flex-direction: column;
  gap: var(--section-spacing);
  max-width: 860px;
}

.hero__image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.chat-apps {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hero__image img {
  width: 100px;
}

.full_page_section {
  display: flex;
  justify-content: center;
  background-color: var(--section-background-color);
  flex-direction: column;
  padding-bottom: 32px;
}

.full_page_section__content {
  display: flex;
  flex-direction: row;
  gap: var(--section-spacing);
  max-width: var(--section-content-max-width);
}

.hero,
.multi-section,
.full_page_section {
  min-height: var(--section-min-height);
}

.hero,
.manager-benefit__section,
.developer-benefit__section,
.full_page_section {
  padding: var(--section-padding);
}

.hero {
  align-items: center;
  justify-content: center;
}

.full_page_section__content {
  align-self: center;
}

.old-way .full_page_section__content div:not(:has(> img)) {
  align-self: flex-start;
  /* Approximated from figma */
  max-width: 386px;
}

.manager-benefit__section h5,
.developer-benefit__section h5,
.full_page_section__heading {
  max-width: var(--section-content-max-width);
  padding: var(--section-heading-padding);
  align-self: center;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

.old-way img {
  width: 100%;
}

li {
  list-style: inside;
  margin-bottom: 2rem;
}

.multi-section section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobile-name {
  display: none;
  align-self: center;
}

.github-screenshot {
  height: 400px;
}

.slack-screenshot {
  height: 200px;
}

.graph-screenshot {
  height: 300px;
}

.screenshot {
  display: flex;
  border-radius: 8px;
  overflow: scroll;
}

.screenshot img {
  border-radius: 8px;
  height: 100%;
  object-fit: contain;
}

.feature-display {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;
  max-width: calc(100vw - calc(var(--section-padding-x) * 2));
}

.feature-display p {
  margin-bottom: 24px;
}

.new-way {
  padding: 0 32px;
  padding-bottom: 32px;
}

.feature-display--right {
  display: flex;
  flex-direction: column;
  align-items: end;
}

@media (max-width: 980px) {
  :root {
    --h1-font-size: 1.5rem;
    --navigation-height: 80px;
    --section-heading-padding: 64px 0 0 0;
  }

  .old-way img {
    transform: rotate(70deg);
    min-height: 400px;
  }

  .screenshot {
    width: 100%;
  }

  .mobile-name {
    display: block;
  }

  .navigation {
    --navigation-horizontal-padding: 16px;
    gap: 16px;
  }

  .field-errors__message-bubble {
    display: none;
  }

  .navigation__right a:first-child {
    display: none;
  }

  .hero {
    --section-spacing: 20px;
  }

  .hero__image img {
    height: 64px;
    width: 64px;
  }

  .full_page_section__content {
    flex-direction: column;
  }

  section {
    flex-direction: column;
  }

  .multi-section {
    display: flex;
    flex-direction: column;
  }
}
