@import url("pasta/reset.css");
@import url("pasta/colours.css");
@import url("pasta/dark.css");
@import url("pasta/base-variables.css");
@import url("pasta/typography.css");
@import url("pasta/navigation.css");
@import url("pasta/button.css");
@import url("pasta/field-errors.css");
@import url("pasta/stripes.css");
@import url("lucide.css");

/* variable overrides */
:root {
  --navigation-bottom-padding: 18px;
  --field-errors-message-padding: 16px 32px;
  --section-spacing: 24px;
  --section-padding: 0 25%;
  --body-line-height: 1.8rem;

}

.navigation {
  --error-message-background-color: #242C5B;
}

.hero {
  --section-spacing: 40px;
  --section-background-color: var(--royal-900);
}

.old-way {
  --section-background-color: #291D50;
}

.new-way {
  --section-background-color: var(--royal-900);
}

.manager-benefit__section {
  --section-background-color: #291D50;;
}

.developer-benefit__section {
  --section-background-color: #483488;
}

a {
  text-decoration: none;
}

.navigation__left {
  flex-grow: 1;
}

.navigation__right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.multi-section {
  display: flex;
}

.multi-section section {
  padding: 0 5%;
}

section a {
  width: fit-content;
}

section h5 {
  font-weight: var(--regular-font-weight);
}

p {
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
}

section {
  background-color: var(--section-background-color);
  display: flex;
  gap: var(--section-spacing);
  height: 90vh;
  width: 100%
}

section .content {
  display: flex;
  flex-direction: column;
  gap: var(--section-spacing);
  max-width: 860px;
}

.hero__image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.chat-apps{
  display: flex;
  flex-direction: column;
}

.hero__image img {
  height: 100px;
  width: 100px;
}

section {
  height: 70vh;
}

.full_page_section {
    display:flex;
    justify-content: center;
    background-color: var(--section-background-color);
    flex-direction: column;
    padding: 10% 15%;
    min-height: 720px;
    height: 100%;
}

.full_page_section__content {
    display: flex;
    flex-direction: row;
    gap: var(--section-spacing);
    height: 100%
}

.hero {
  align-items: center;
  justify-content: center;
}

.old-way {
  max-height: 750px;
  /* Reset padding from full_page_section */
  /* Probably can kill padding from parent itself */
  padding: 0;
}

.old-way .full_page_section__content {
  /* Approximated from figma */
  max-width: 1130px;
  align-self: center;
}

.old-way .full_page_section__content div:not(:has(> img)) {
  align-self: flex-start;
  /* Approximated from figma */
  max-width: 386px;
}

.full_page_section__heading {
  padding: 110px 24px 24px;
  max-width: 1130px;
  align-self: center;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

.old-way img {
  width: 100%;
  height: 100%;
}

li {
  list-style: inside;
  margin-bottom: 2rem;
}

.multi-section section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
}

.mobile-name {
  display: none;
  align-self: center;
}

@media (max-width: 980px) {
  :root {
    --h1-font-size: 1.5rem;
    --navigation-height: 80px;
  }

  .mobile-name {
    display: block;
  }

  .navigation {
    --navigation-horizontal-padding: 16px;
    gap: 16px;
  }

  .field-errors__message-bubble {
    display: none;
  }

  .navigation__right a:first-child {
    display: none;
  }

  .hero {
    --section-spacing: 20px;
  }

  .full_page_section {
    padding:0;

  }

  .full_page_section {
    padding: 5%;
  }

  .full_page_section__heading {
    padding: 24px;
  }

  .full_page_section__content {
    flex-direction: column;
    height: fit-content;;
  }
            
  .content {
    padding: 0 32px;
  }

  section {
    flex-direction: column;
    height: 70vh;
  }

  .multi-section {
    display: flex;
    flex-direction: column;
  }

  .multi-section section {
      padding: 5%;
  }
}
